body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: beige;
    display: block;
    background-image: url(images/background.jpeg);
}

header {
    margin: auto;
    width: 50%;
    align-self: auto;
    text-align: center;
    background-color: #B0E0E6;
    padding: 30;
    border: 2px solid blueviolet;
    border-radius: 25px;
    background-image: url(images/darkblueback.jpg);
    font-weight: bold;
    font-size: 45px;
    color: lavender;
}

.form {
    background-color: cornflowerblue;
    font-size: 25;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 35px;
    border-radius: 10px;
    border-color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1px;
    margin-right: 1335px;
    background-image: url(images/blueback.jpg);
}

.button {
    color: blueviolet;
    font-weight: bold;
}

.todo {
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 20px;
    border: 9px solid firebrick;
    background-color: #B0E0E6;
    border-radius: 25px;
    border-radius: blue;
    display: inline-block;
    margin: auto; 
    height: 15em; 
    border: 1px solid #abc;
    background-image: url(images/blueback.jpg);
}

.tasks {
    float: left;
}

.edit {
    color: green;
}

.done {
    color: red;
}

table {
    border: 6px solid burlywood;     /*This is a comment */
    align-self: center;
    
  }

h1 {
    color: brown;
    align-self: center;
}