 body {
    background-image: url(images/web-design-2906159_1920.jpg);
}

.topnav {
    background-color: gray;
    overflow: hidden;
    opacity: 0.7;
}

.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 26px;
    font-weight: bolder;
}

.topnav a:hover {
    background-color: rgb(146, 218, 228);
    color: white;
}

.topnav a.active {
    background-color: rgb(41, 84, 104);
    color: white;
}

.form {
    background-color: rgb(204, 214, 233, 0.6);
    font-size: 25;
    font-weight: bold;
    float: right;
    border-radius: 10px;
    margin-top: 3em;
    width: 100%;
    
}

h2 {
    font-weight: bold;
}

.todo {
    background-color: rgb(204, 214, 233, 0.6);
    font-size: 25;
    font-weight: bold;
    float: right;
    border-radius: 10px;
    margin-top: 3em;
    width: 100%;
}
