body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: beige;
    display: block;
    background-image: url(images/background.jpeg);
}

h1 {
    margin: auto;
    width: 50%;
    align-self: auto;
    text-align: center;
    background-color: #B0E0E6;
    padding: 30;
    border: 3px solid blueviolet;
    border-radius: 25px;
    background: ;
}

.form {
    margin: 30px;
    background-color: cornflowerblue;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
    align-self: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1px;
    background-image: url(images/blueback.jpg);
}

.todo {
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 20px;
    border: 3px solid firebrick;
    background-color: #B0E0E6;
    border-radius: 25px;
    display: inline-block;
    margin: auto;
    height: 15em; 
    border: 1px solid #abc;
}

.tasks {
    float: left;
}

table {
    border: 6px solid burlywood;     /*This is a comment */
    align-self: center;
    
  }

h1 {
    color: brown;
    align-self: center;
}